/synthCNN/CompiledShaders/defaultBasic.hlsl.pixelShaderMain.p
/synthCNN/CompiledShaders/defaultBasic.hlsl.vertexShaderMain.p
/synthCNN/CompiledShaders/defaultBasicTexture.hlsl.pixelShaderMain.p
/synthCNN/CompiledShaders/defaultBasicTexture.hlsl.vertexShaderMain.p
