/synthCNN/CompiledShaders/defaultBasic.hlsl.pixelShaderMain.p
/synthCNN/CompiledShaders/defaultBasic.hlsl.vertexShaderMain.p
/synthCNN/CompiledShaders/defaultBasicTexture.hlsl.pixelShaderMain.p
/synthCNN/CompiledShaders/defaultBasicTexture.hlsl.vertexShaderMain.p
/synthCNN/*.opensdf
/synthCNN/*.sdf
/synthCNN/*.suo
/synthCNN/x64/Debug/*.exe
/synthCNN/x64/Debug/*.pdb
/synthCNN/x64/Debug/synthCNN/*.obj
/synthCNN/x64/Debug/synthCNN/*.log
/synthCNN/x64/Debug/synthCNN/synthCNN.tlog/*.tlog
/synthCNN/x64/Debug/synthCNN/synthCNN.tlog/*.lastbuildstate
/synthCNN/x64/Debug/synthCNN/*.pdb
/synthCNN/x64/Release/*.exe
/synthCNN/x64/Release/*.pdb
/synthCNN/x64/Release/synthCNN/*.obj
/synthCNN/x64/Release/synthCNN/*.log
/synthCNN/x64/Release/synthCNN/synthCNN.tlog/*.tlog
/synthCNN/x64/Release/synthCNN/synthCNN.tlog/*.lastbuildstate
/synthCNN/x64/Release/synthCNN/*.pdb
/synthCNN/x64/Debug/synthCNN/synthCNN.tlog/unsuccessfulbuild
/synthCNN/ipch/synthcnn-8f74e0ee/*.ipch
/synthCNN/*.log
/synthCNN/x64/Release/synthCNN/*.pch
/synthCNN/x64/Debug/synthCNN/synthCNN.pch
/CaffeEval/netAfter0
/CaffeEval/netAfter1
/CaffeEval/netAfter2
/CaffeEval/netAfter3
/CaffeEval/netAfter4
/CaffeEval/netAfter5
/CaffeEval/netBefore0
/CaffeEval/netBefore1
/CaffeEval/netBefore2
/CaffeEval/netBefore3
/CaffeEval/netBefore4
/CaffeEval/netBefore5
/CaffeEval/x64
/CaffeEval/caffeEval.opensdf
/CaffeEval/caffeEval.sdf
/CaffeEval/caffeEval.v12.suo
/CaffeEval/imageEval.opensdf
/CaffeEval/imageEval.sdf
/CaffeEval/imageEval.suo
/CaffeEval/imageEval.v12.suo
/CaffeEval/temp.txt
/synthCNN/x64/Release/CompiledShaders/defaultBasic.hlsl.pixelShaderMain.p
/synthCNN/x64/Release/CompiledShaders/defaultBasic.hlsl.vertexShaderMain.p
/synthCNN/x64/Release/CompiledShaders/defaultBasicTexture.hlsl.pixelShaderMain.p
/synthCNN/x64/Release/CompiledShaders/defaultBasicTexture.hlsl.vertexShaderMain.p
/synthGenerator/synthGenerator.opensdf
/synthGenerator/synthGenerator.sdf
/synthGenerator/synthGenerator.v12.suo
/synthGenerator/x64/Debug/imageDatabase.obj
/synthGenerator/x64/Debug/mLibSource.obj
/synthGenerator/x64/Debug/main.obj
/synthGenerator/x64/Debug/synthGenerator.log
/synthGenerator/x64/Debug/synthGenerator.pdb
/synthGenerator/x64/Debug/synthGenerator.tlog/CL.read.1.tlog
/synthGenerator/x64/Debug/synthGenerator.tlog/cl.command.1.tlog
/synthGenerator/x64/Debug/synthGenerator.tlog/cl.write.1.tlog
/synthGenerator/x64/Debug/synthGenerator.tlog/link-cvtres.read.1.tlog
/synthGenerator/x64/Debug/synthGenerator.tlog/link-cvtres.write.1.tlog
/synthGenerator/x64/Debug/synthGenerator.tlog/link-rc.read.1.tlog
/synthGenerator/x64/Debug/synthGenerator.tlog/link-rc.write.1.tlog
/synthGenerator/x64/Debug/synthGenerator.tlog/link.command.1.tlog
/synthGenerator/x64/Debug/synthGenerator.tlog/link.read.1.tlog
/synthGenerator/x64/Debug/synthGenerator.tlog/link.write.1.tlog
/synthGenerator/x64/Debug/synthGenerator.tlog/synthGenerator.lastbuildstate
/synthGenerator/x64/Debug/synthGenerator.tlog/unsuccessfulbuild
/synthGenerator/x64/Debug/vc120.idb
/synthGenerator/x64/Debug/vc120.pdb
/synthGenerator/x64/Release/imageDatabase.obj
/synthGenerator/x64/Release/mLibSource.obj
/synthGenerator/x64/Release/main.obj
/synthGenerator/x64/Release/synthGenerator.exe
/synthGenerator/x64/Release/synthGenerator.log
/synthGenerator/x64/Release/synthGenerator.pdb
/synthGenerator/x64/Release/synthGenerator.tlog/cl.command.1.tlog
/synthGenerator/x64/Release/synthGenerator.tlog/cl.read.1.tlog
/synthGenerator/x64/Release/synthGenerator.tlog/cl.write.1.tlog
/synthGenerator/x64/Release/synthGenerator.tlog/link.command.1.tlog
/synthGenerator/x64/Release/synthGenerator.tlog/link.read.1.tlog
/synthGenerator/x64/Release/synthGenerator.tlog/link.write.1.tlog
/synthGenerator/x64/Release/synthGenerator.tlog/synthGenerator.lastbuildstate
/synthGenerator/x64/Release/vc120.pdb
/colorNetGenerator/x64/Debug/colorNet.281DB4BA.tlog/CL.read.1.tlog
/colorNetGenerator/x64/Debug/colorNet.281DB4BA.tlog/CL.write.1.tlog
/colorNetGenerator/x64/Debug/colorNet.281DB4BA.tlog/cl.command.1.tlog
/colorNetGenerator/x64/Debug/colorNet.281DB4BA.tlog/colorNetGenerator.lastbuildstate
/colorNetGenerator/x64/Debug/colorNet.281DB4BA.tlog/link.command.1.tlog
/colorNetGenerator/x64/Debug/colorNet.281DB4BA.tlog/link.read.1.tlog
/colorNetGenerator/x64/Debug/colorNet.281DB4BA.tlog/link.write.1.tlog
/colorNetGenerator/x64/Debug/colorNetDatabase.obj
/colorNetGenerator/x64/Debug/colorNetGenerator.exe
/colorNetGenerator/x64/Debug/colorNetGenerator.log
/colorNetGenerator/x64/Debug/colorNetGenerator.pdb
/colorNetGenerator/x64/Debug/mLibSource.obj
/colorNetGenerator/x64/Debug/main.obj
/colorNetGenerator/x64/Debug/vc120.pdb
/colorNetGenerator/x64/Release/colorNet.281DB4BA.tlog/CL.write.1.tlog
/colorNetGenerator/x64/Release/colorNet.281DB4BA.tlog/cl.command.1.tlog
/colorNetGenerator/x64/Release/colorNet.281DB4BA.tlog/cl.read.1.tlog
/colorNetGenerator/x64/Release/colorNet.281DB4BA.tlog/colorNetGenerator.lastbuildstate
/colorNetGenerator/x64/Release/colorNet.281DB4BA.tlog/link.command.1.tlog
/colorNetGenerator/x64/Release/colorNet.281DB4BA.tlog/link.read.1.tlog
/colorNetGenerator/x64/Release/colorNet.281DB4BA.tlog/link.write.1.tlog
/colorNetGenerator/x64/Release/colorNetDatabase.obj
/colorNetGenerator/x64/Release/colorNetGenerator.exe
/colorNetGenerator/x64/Release/colorNetGenerator.log
/colorNetGenerator/x64/Release/colorNetGenerator.pdb
/colorNetGenerator/x64/Release/colorUtil.obj
/colorNetGenerator/x64/Release/mLibSource.obj
/colorNetGenerator/x64/Release/main.obj
/colorNetGenerator/x64/Release/vc120.pdb
/colorNetGenerator/LABToRGB.dat
/colorNetGenerator/RGBToLAB.dat
/colorNetGenerator/centroids24.png
/colorNetGenerator/centroids32.png
/colorNetGenerator/colorNetGenerator.opensdf
/colorNetGenerator/colorNetGenerator.sdf
/colorNetGenerator/colorNetGenerator.v12.suo
/colorNetGenerator/colorNetGenerator.vcxproj.user
/synthGenerator/records.dat
/synthGenerator/x64/Debug/synthGenerator.Build.CppClean.log
/synthGenerator/x64/Debug/synthGenerator.exe
