/synthCNN/CompiledShaders/defaultBasic.hlsl.pixelShaderMain.p
/synthCNN/CompiledShaders/defaultBasic.hlsl.vertexShaderMain.p
/synthCNN/CompiledShaders/defaultBasicTexture.hlsl.pixelShaderMain.p
/synthCNN/CompiledShaders/defaultBasicTexture.hlsl.vertexShaderMain.p
/synthCNN/*.opensdf
/synthCNN/*.sdf
/synthCNN/*.suo
/synthCNN/x64/Debug/*.exe
/synthCNN/x64/Debug/*.pdb
/synthCNN/x64/Debug/synthCNN/*.obj
/synthCNN/x64/Debug/synthCNN/*.log
/synthCNN/x64/Debug/synthCNN/synthCNN.tlog/*.tlog
/synthCNN/x64/Debug/synthCNN/synthCNN.tlog/*.lastbuildstate
/synthCNN/x64/Debug/synthCNN/*.pdb
/synthCNN/x64/Release/*.exe
/synthCNN/x64/Release/*.pdb
/synthCNN/x64/Release/synthCNN/*.obj
/synthCNN/x64/Release/synthCNN/*.log
/synthCNN/x64/Release/synthCNN/synthCNN.tlog/*.tlog
/synthCNN/x64/Release/synthCNN/synthCNN.tlog/*.lastbuildstate
/synthCNN/x64/Release/synthCNN/*.pdb
/synthCNN/x64/Debug/synthCNN/synthCNN.tlog/unsuccessfulbuild
/synthCNN/ipch/synthcnn-8f74e0ee/*.ipch
/synthCNN/*.log
/synthCNN/x64/Release/synthCNN/*.pch
